@font-face {
    font-family: Lovelo-Black;
    src: url(../fonts/Lovelo-Black.otf);
}

body {
    font-family: Lovelo-Black;
    padding-top: 70px;
    font-size: 24px;
}


/*** Sections center ****/

html,
body,
.container {
    height: 100%;
}

.container {
    display: table;
    vertical-align: middle;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}


/*** END of Sections center ****/


/**** h1 styles ***/

h1 {
    color: white;
    font-size: 2em;
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.5em;
    }
}


/****END of h1 styles****/


/******** Navbar styles ******/

.navbar {
    background: rgba(46, 204, 113, 1.0);
    border: none;
}

.navbar-nav li a:link {
    color: white;
}

.navbar-nav li a:visited {
    color: white;
}

.navbar-nav li a:hover {
    color: black;
}

.navbar-nav li a:active {
    color: black;
}

.navbar-default .navbar-toggle {
    border-color: white;
    border-width: medium;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(46, 145, 113, 1.0);
}


/******** END of navbar styles ********/


/****** Login and Register buttons styles********/

#log-reg-btns .btn {
    border-radius: 0px;
}


/*** END of Login and Register buttons styles ******/


/**** Background styles ******/

#background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -100;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    #background-video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    #background-video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    #background {
        background: url('../media/maxresdefault.jpg') center center / cover no-repeat;
    }
    #background-video {
        display: none;
    }
}


/*** End of background styles ***/