

@font-face {
			font-family: Lovelo-Black;
			src: url(../fonts/Lovelo-Black.otf);
		}

@media only screen and (max-device-width: 800px) {
    body {
         background: url(../media/maxresdefault.jpg) #000 no-repeat center center fixed;
    }
    video#backgroundVideo {
        display: none;
    }
}
video#backgroundVideo {
   position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
}

#navMenu li{
    font-family: Lovelo-Black;
    display: inline;
    font-size: 20px;
    list-style-type: none;
    margin-right: 5%;
    color:white;
    text-align: center;
    vertical-align: middle; 
    display: table-cell;
}
#navMenu{
    text-align: center;
    background: #2ecc71;
    width: 100%;
    position:fixed;
    padding:0;
    margin:0;
    height:7%;
    display: table;
    top:0;
    left:0;

}

a:link{
    text-decoration: none;
    color:white;
}
a:visited{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: none;
    color:white;
}
a:focus{
    text-decoration: none;
    color:white;
}

.sections{
position: relative;
    margin-top: 5%;
}